
.vistaBuy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productsInChart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productFinalBuy {
    margin: 1em;
}

.totalPrice {
    margin-top: 2em;
}

.botonesCarrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botonCarrito {
    width: 2em;
    height: 2em;
    background-color: lightgrey;
    transition: 0.2s;
    margin-left: 2em;
    margin-right: 2em;
}

.botonCarrito:hover{
    background-color: antiquewhite;
    transition: 0.2s;
}