
.vistaProducts {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 4em;
}

.imgProduct {
    width: 10em;
    height: 10em;
}